/* Styles for website */
* {
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secondary: slategray;
    --container: lightgray;
    --background: ghostwhite;
    --heading-font: "Kumbh Sans", sans-serif;
    --text-font: "Montserrat", sans-serif;
}

.primary-text {
    font-family: var(--heading-font)
}

.secondary-text {
    font-family: var(--text-font);
}

/* Header styling */
.header {
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

