/* Styles for website */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;    
    color: #777777;
    height: 100vh;    
}

.row {
    margin: 0;   
}

/* Header styling */
#header {
    padding:15px;
    color: white; 
    position: fixed;
    top: 0;
    width: 100%;  
    z-index: 10; 
}

h1,h2,h3,h4 {
    margin: 0;  
    font: bold;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: x-large;
    color:rgb(10, 2, 56);
}

h4 {
    font-size: medium;
    margin-bottom: 5px;
}

.wrapper {
    align-items: stretch;
}

/* City search panel */
#inputGroup {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    flex-wrap: wrap-reverse;
}

#searchPanel {    
    padding: 10px 10px 0 10px;
    width: 320px;
    margin-bottom: 0;
    background-color: rgb(242, 242, 242);      
    height: 100%;   
    position: fixed;
    z-index: 1;    
    overflow-x: hidden;    
    padding-top: 20px;
    top: 78px;
    color: black;
}

#inputGroup > *{    
    margin-bottom: 5px;
}

input {
    padding-left: 10px;
}

/* Button styling */
#searches button:not(:first-child) {
    border-top: unset;
}

#searches button:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#searches button:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn {
    color: #777777; 
}

.btnCitySearch {
    width: 100%;
    display: block;
    font-size: medium;
    border: 1px solid #d1cece;
    border-radius: 0;
    text-align: left;
    background-color: rgb(232, 239, 243);
    color: rgb(105, 121, 143)
}

#searchInput {
    flex: 1;  
    border-radius: 4px;    
    border: 1px solid;
}

.searchBtn {
    margin-left: 5px;
    background-color: rgb(41, 85, 150);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.clearBtn {
    margin-left: 5px;
    background-color: rgb(189, 63, 63);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Current weather main content */
#mainContent {
    margin-left: 320px;
    margin-right: 0;
    padding-right: 0;
    top: 78px;
    color: black;
    background-color: rgb(219, 223, 231);
}

#currentWeather {
    margin: 10px 0 10px 10px;
    padding: 20px 0 20px 20px;
    border: 1px solid #747070;
    border-right: unset;
    border-radius: 5px 0 0 5px;
}

.currentWeatherImg {
    height: 75px; 
}

/* Weather card styling */
#forecast > h3 {
    padding-left: 10px;
}

#dayCardContainer {    
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 15px;
    align-content: stretch;
    color: black;
}

.dayCard {
    padding: 10px;
    background-color: rgb(179, 216, 230);
    margin: 10px;
    border-radius: 5px;
}

.dayCard > *{
    margin-bottom: 10px; 
    display: block;
}

.dayCard > img {
    margin: -10px 0 0 0;
}

/* UV coloring scheme for UV display */
#UVIndex {
    display: inline;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px; 
}

/* Media queries */
@media screen and (max-width: 550px) {
    #searchPanel {
        width: 230px;
    }
    
    #mainContent {
        margin-left: 230px;
    }
}